<a href="https://colab.research.google.com/github/saeugeen/Python/blob/master/book/jump_to_python/ch2_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 연습문제(p112)

##Q1

홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자

* 국어 : 80점
* 영어 : 75점
* 수학 : 55점

###A1

In [ ]:
a = 80
b = 75
c = 55
d=(a+b+c)/3
print(d)

## Q2

자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말하기

### A2

In [ ]:
13%2 #2로 나눈 나머지가 1임으로 홀수

## Q3

홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

### A3

In [ ]:
pin = "881120-1068234"
yyyymmdd = pin[:6]
print(yyyymmdd)
other = pin[7:]
print(other)

## Q4

주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

> pin = "881120-1068234"

### A4

In [ ]:
pin = "881120-1068234"
print(pin[7]) 

# 결과값이 1임으로 남자이다

##Q5

다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자

### A5

In [ ]:
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

## Q6

[1, 3, 5, 4, 2]라는 리스트를 [5, 4, 3, 2, 1]로 만들어보자.

### A6

In [ ]:
a = [1, 3, 5, 4, 2]
a.sort( )
a.reverse( )
print(a)

## Q7

['Life', 'is', 'too', 'short'] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자.

### A7

In [ ]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

## Q8

(1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자.

###A8

In [ ]:
a = (1, 2, 3)
a = a + (4,)
print(a)

## Q10

딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

### A10

In [ ]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)           
print(result)

## Q11

a 리스트에서 중복된 숫자들을 제거해 보자.

### A11

In [ ]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)     # a를 집합자료형으로 변환
b = list(aSet)    # 리스트 자료형으로 다시 변환
print(b)          # [1,2,3,4,5] 출력

##Q12