<a href="https://colab.research.google.com/github/saeugeen/Python/blob/master/book/jump_to_python/day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=11
inc = 0 
flag = 1
for i in range(n):
    print(' '*(n-inc-1), end='')
    print('*'*(inc*2+1))
    if( i == n//2 ):
        flag = -flag
    inc += flag

          *
         ***
        *****
       *******
      *********
     ***********
      *********
       *******
        *****
         ***
          *

In [ ]:
n=11
inc = 0 
flag = 1
for i in range(n):
    print('*'*(inc+1) , end='')
    if((n - (inc+1)*2)>0):
        print(' '*(n - (inc+1)*2), end='')
    if( i == n//2 ):
        print('*'*inc)
    else:
        print('*'*(inc+1))
    if( i == n//2 ):
        flag = -flag
    inc += flag

*         *
**       **
***     ***
****   ****
***** *****
***********
***** *****
****   ****
***     ***
**       **
*         *

## 함수

함수 사용 이유 : 반복해서 작성해야 하는 부분을 입력해야 하는 상황에서 사용

* def는 함수를 만들때 사용하는 예약어이다
* def 함수이름(매개변수):

In [ ]:
a = 3
b = 4
a+b

7

In [ ]:
def add(a,b):
    return a+b

In [ ]:
c = add(1,2)
print(c)
print(add(3,4))

3
7

### 입력값이 없는 함수

In [ ]:
def say():
    return 'Hi'

a = say()
print(a)

Hi

### 결과값이 없는 함수

In [ ]:
def add(a,b):
    print( "%d + %d = %d"%(a, b, a+b))

a = add(3,4)
print(a)

3 + 4 = 7
None

### 입력값도 없고 결과값도 없는 함수

In [ ]:
def say():
    print("Hi")

say()

Hi

### 매개변수 지정하여 호출하기

* 매개변수 : 함수에 입력으로 전달된 값을 받는 변수

* 인수 : 함수를 호출 할 때 전달하는 입력값

In [ ]:
def add(a,b):
    return a+b

add(3,4)

7

In [ ]:
def add(a=3,b=4):
    return a+b

add()

7

In [ ]:
add(10)

14

### 여러 개의 입력값을 받는 함수 만들기

In [1]:
def add_many( *args ): # args = (1,2,3,4,5)
    result = 0
    for i in args:
        result = result + i
    return result

add_many( 1,2,3,4,5)

15

In [ ]:
def add_many( choice, *args ): # args = (1,2,3,4,5)
    if choice == 'add':
        result = 0
        for i in args:
            result = result + i
        
    elif choice == 'mul':
        result = 1
        for i in args:
            result = result * i
    return result

add_many( 'mul' , 1,2,3,4,5)

120

In [ ]:
def print_kwargs( **kwargs ):
    print(kwargs)

    
print_kwargs( a=1 )
print_kwargs( name='foo', age=3 )

{'a': 1}
{'name': 'foo', 'age': 3}

###  함수의 결과값은 하나다.

In [ ]:
def add_and_mul(a,b):
    return a+b, a*b # return (a+b, a*b)

result = add_and_mul(3,4)
print(result)

(7, 12)

In [ ]:
c, d = add_and_mul(3,4)
print(c, d)

7 12

In [ ]:
a, b = (1,2)

In [ ]:
print(a)
print(b)

1
2

In [ ]:
def add_and_mul(a,b):
    return a+b
    return a*b

result = add_and_mul(3,4)
print(result)

7

In [ ]:
def say_myself( name, old, man=True):
    pass

say_myself("홍길동", 27)

### 함수 안에서 선언한 변수의 효력 범위

In [ ]:
a = 1

def vartest(a):
    a = a+1
    print('vartest():%d'%a)
    
vartest(a)
print(a)

vartest():2
1

In [ ]:
def vartest(local):
    local = local+1
    print('vartest():%d'%local)
    
vartest(3)
print(local)

vartest():4

NameError: name 'local' is not defined

In [ ]:
def vartest(local):
    local = local+1
    print('vartest():%d'%local)
    return local
    
result = vartest(3)
print(result)

vartest():4
4

In [ ]:
a = 1

def vartest():
    global a
    a = a+1
    print('vartest():%d'%a)
    
vartest()
print(a)

vartest():2
2

### 람다(익명의 함수)

In [2]:
add = lambda a,b : a+b
type(add)
result = add(2,4)
print(result)

# lambda 예약어로 만든 함수는 return 명령어가 없어도 결과값을 돌려준다

6

## 파일 읽고 쓰기

In [4]:
f = open( "새파일.txt", "w") # WRONLY | CREAT | TRUNC
f.close()

In [5]:
f = open( "새파일.txt", "w") # WRONLY | CREAT | TRUNC

for i in range(1,11):
    data = "%d번째 줄입니다.\n"%i
    f.write(data) #data를 파일 객체에 f에 넣기
    
f.close()

### 파일을 읽는 방법

In [6]:
f = open( "새파일.txt", "r") # RDONLY 

while True:
    line = f.readline()
    if not line :  break
    print(line)
    
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [ ]:
#외부에 저장된 파일을 읽는 방법 : readline
f = open( "새파일.txt", "r") # RDONLY 

lines = f.readlines()
for line in lines:
    print(line)
    
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [ ]:
f = open( "새파일.txt", "r") # RDONLY 

data = f.read()
print(data)
    
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [ ]:
f = open( "새파일.txt", "a") # WRONLY | APPEND

for i in range(11,21):
    data = "%d번째 줄입니다.\n"%i
    f.write(data)
    
f.close()

In [ ]:
f = open( "새파일.txt", "r") # RDONLY 

data = f.read()
print(data)
    
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.
16번째 줄입니다.
17번째 줄입니다.
18번째 줄입니다.
19번째 줄입니다.
20번째 줄입니다.

### with문과 함께 사용하기

In [ ]:
f = open( "foo.txt", "w") 

f.write('Life is too short, you need python')
    
f.close()

In [ ]:
with  open( "foo.txt", "w")  as f:
    f.write('Life is too short, you need python')

### 파이썬 객체지향 프로그램

In [7]:
class Calculator:
    def __init__(self):
        print("Calculator.__init__()", self)
        self.result = 0
        
    def add(self, num):
        print("Calculator.add()", self)
        self.result += num
        return self.result

cal1 = Calculator()
cal2 = Calculator()
print(cal1.add(3))
print(cal1.add(4))
print(cal2.add(3))
print(cal2.add(7))

Calculator.__init__() <__main__.Calculator object at 0x7f40aa6fceb8>
Calculator.__init__() <__main__.Calculator object at 0x7f40aa6fce48>
Calculator.add() <__main__.Calculator object at 0x7f40aa6fceb8>
3
Calculator.add() <__main__.Calculator object at 0x7f40aa6fceb8>
7
Calculator.add() <__main__.Calculator object at 0x7f40aa6fce48>
3
Calculator.add() <__main__.Calculator object at 0x7f40aa6fce48>
10

### 클래스 구조 만들기

In [8]:
class Fourcal:
    pass

In [9]:
a = Fourcal()
id(a)

139915714103224

In [10]:
type(a)

__main__.Fourcal

In [ ]:
a.setdata(4, 2)

AttributeError: 'Fourcal' object has no attribute 'setdata'

In [ ]:
class Fourcal:
    def setdata(self, first, second):
        self.first = first
        self.second = second
        
    def add(self):
        result = self.first + self.second 
        return result

In [ ]:
a = Fourcal()
a.setdata(4,2)
print(a.first)
print(a.second)
print(a.add())

4
2
6